In [6]:
!pip install umap-learn

Defaulting to user installation because normal site-packages is not writeable
Collecting umap-learn
  Downloading umap-learn-0.5.4.tar.gz (90 kB)
     ---------------------------------------- 90.8/90.8 kB 1.7 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: numpy>=1.17 in c:\programdata\anaconda3\lib\site-packages (from umap-learn) (1.23.5)
Requirement already satisfied: scipy>=1.3.1 in c:\programdata\anaconda3\lib\site-packages (from umap-learn) (1.10.0)
Requirement already satisfied: scikit-learn>=0.22 in c:\programdata\anaconda3\lib\site-packages (from umap-learn) (1.2.1)
Requirement already satisfied: numba>=0.51.2 in c:\programdata\anaconda3\lib\site-packages (from umap-learn) (0.56.4)
Collecting pynndescent>=0.5
  Downloading pynndescent-0.5.10.tar.gz (1.1 MB)
     ---------------------------------------- 1.1/1.1 MB 4.8 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Requirement already satisfied: tqdm in c:\programdata\anaconda3\lib\site-packages (from umap-learn) (4.64.1)
Requirement already satisfied: llvmlite<0.40,>=0.39.0dev0 in c:\programdata\anaconda3\lib\site-packages (from numba>=0.51.2->umap-learn) (0.39.1)
Requirement already satisfied: setuptools in c:\programdata\anaconda3\lib\site-packages (from numba>=0.51.2->umap-learn) (65.6.3)
Requirement already satisfied: joblib>=0.11 in c:\programdata\anaconda3\lib\site-packages (from pynndescent>=0.5->umap-learn) (1.1.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from scikit-learn>=0.22->umap-learn) (2.2.0)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from tqdm->umap-learn) (0.4.6)
Building wheels for collected packages: umap-learn, pynndescent
  Building wheel for umap-learn (setup.py): started
  Building wheel for umap-learn (setup.py): finished with status 'done'
  Created wheel for umap-learn: filename=umap_learn-0.5.4-py3-none-any.whl size=86862 sha256=b436e4a7b083e7cee66be9b8764f3cc1e8234e64d1c162d342906dc20191c3e0
  Stored in directory: c:\users\nyamtsetseg\appdata\local\pip\cache\wheels\3d\a4\e8\5a5af00baa82e1dd59ac108da7f86657ef674115126e461cfe
  Building wheel for pynndescent (setup.py): started
  Building wheel for pynndescent (setup.py): finished with status 'done'
  Created wheel for pynndescent: filename=pynndescent-0.5.10-py3-none-any.whl size=55676 sha256=a0a70d3d91790dbd736c3e43da25dbf32a60388668896d45815e05788eca4ff2
  Stored in directory: c:\users\nyamtsetseg\appdata\local\pip\cache\wheels\45\f6\1b\b2cbeeaddcd5e454a300424e9bc30d5dcd2baaa7b94cfa2795
Successfully built umap-learn pynndescent
Installing collected packages: pynndescent, umap-learn
Successfully installed pynndescent-0.5.10 umap-learn-0.5.4

In [7]:
import numpy as np
import pandas as pd
import numpy as np, warnings
from pathlib import Path
import os
import sweetviz as sv
import umap
from importlib import reload
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.datasets import load_digits
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
np.warnings = warnings

In [8]:
import sys
sys.path.append("..")

# import utility functions
import src.utils as util
reload(util)

import src.load_parquet as load_parquet
reload(load_parquet)

# setup OS agnostic pathnames
ROOT_DIR = Path('..')

# Note: to run main notebook from root directory, use:
# ROOT_DIR = Path('')

In [9]:
path_t0_df = ROOT_DIR / 'data' / "t0_v3.csv"  
t0_df = pd.read_csv(path_t0_df)
t0_df = t0_df.drop(columns=["SUBJECT_ID", "HADM_ID"])
t0_df

,IS_SEPSIS,Blood_Bicarbonate_50882,"Blood_Calcium, Total_50893",Blood_Creatinine_50912,Blood_Glucose_50931,Blood_Hematocrit_51221,Blood_Hemoglobin_51222,Blood_INR(PT)_51237,Blood_Lactate_50813,Blood_Lymphocytes_51244,...,Blood_Platelet Count_51265,Blood_Red Blood Cells_51279,Blood_Urea Nitrogen_51006,Blood_White Blood Cells_51301,Blood_pCO2_50818,Blood_pH_50820,Blood_pO2_50821,Urine_RBC_51493,AGE,GENDER_NUM
0,0,25.0,8.2,3.2,91.0,30.2,10.0,1.3,-999.0,8.0,...,282.0,3.44,53.0,12.7,-999.0,-999.0,-999.0,-999.0,76,0
1,0,24.0,8.9,0.5,140.0,34.2,11.5,-999.0,-999.0,6.9,...,207.0,3.80,9.0,9.7,-999.0,-999.0,-999.0,-999.0,47,1
2,0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,-999.0,-999.00,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,65,1
3,0,30.0,-999.0,1.2,129.0,45.2,15.4,1.1,-999.0,41.6,...,258.0,5.46,16.0,7.5,-999.0,-999.0,-999.0,-999.0,41,0
4,0,25.0,-999.0,0.7,121.0,36.9,12.5,1.1,-999.0,7.6,...,229.0,4.31,12.0,8.5,-999.0,-999.0,-999.0,-999.0,50,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
47880,1,-999.0,-999.0,-999.0,-999.0,36.4,12.4,-999.0,-999.0,8.1,...,349.0,4.20,-999.0,13.0,-999.0,-999.0,-999.0,-999.0,53,0
47881,1,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,-999.0,-999.00,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,47,0
47882,0,22.0,7.1,1.2,206.0,12.9,4.7,1.1,-999.0,9.1,...,188.0,1.35,56.0,21.4,-999.0,-999.0,-999.0,-999.0,65,1
47883,0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,-999.0,-999.00,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,88,1
47884,0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,...,-999.0,-999.00,-999.0,-999.0,-999.0,-999.0,-999.0,-999.0,64,1

In [12]:
t0_data=t0_df(["Blood_Bicarbonate_50882","Blood_Creatinine_50912","Blood_Hematocrit_51221","Blood_Glucose_50931"]).values
scaled_t0_data=StandardScaler().fit_transform(t0_data)

TypeError: 'DataFrame' object is not callable