In [26]:
import pandas as pd
import numpy as np, warnings
from pathlib import Path
from importlib import reload

# os.chdir('D:/Kha/UWA/CITS5553/sepsis_prediction/data-science-capstone-project/Kha Huynh')
import utils
reload(utils)

np.warnings = warnings
# os.chdir('D:/Kha/UWA/CITS5553/sepsis_prediction/data-science-capstone-project')

ROOT_DIR = Path('../..')

In [27]:
import DataLoader as DataLoader
reload(DataLoader)

dataLoader = DataLoader.DataLoader(ROOT_DIR)

df_desc_icd, df_desc_labitems, df_desc_items = dataLoader.load_descriptions()
df_diagnoses_icd = dataLoader.load_diagnoses_icd(df_desc_icd)
df_demographic = dataLoader.load_demographic(df_diagnoses_icd)
df_demographic = dataLoader.demographic_clean_AGE(df_demographic)
# df_labevents = dataLoader.load_labevents(df_demographic)

Removed 8210 admissions with AGE < 18

# Common Comorbidity

In [28]:
sepsis_cases = df_diagnoses_icd[df_diagnoses_icd.IS_SEPSIS == 1].drop_duplicates(['SUBJECT_ID', 'HADM_ID'])[['SUBJECT_ID', 'HADM_ID']]
sepsis_cases = sepsis_cases.merge(df_diagnoses_icd[df_diagnoses_icd.IS_SEPSIS != 1][['SUBJECT_ID', 'HADM_ID', 'ICD9_CODE']], on=['SUBJECT_ID', 'HADM_ID'])
sepsis_cases = sepsis_cases.merge(df_desc_icd[['ICD9_CODE', 'SHORT_TITLE']], on='ICD9_CODE')
sepsis_cases = sepsis_cases.merge(df_demographic[['SUBJECT_ID', 'HADM_ID']], on=['SUBJECT_ID', 'HADM_ID'])
common_icd = sepsis_cases.groupby(['ICD9_CODE', 'SHORT_TITLE']).apply(lambda x: len(x.drop_duplicates(['SUBJECT_ID', 'HADM_ID']))).sort_values(ascending=False).reset_index(name='SEPSIS_COUNT')

common_icd['SEPSIS_percentage'] = common_icd['SEPSIS_COUNT']*100/df_demographic[df_demographic.IS_SEPSIS==1].shape[0] # 5176

In [29]:
nonsepsis_cases = df_demographic[df_demographic.IS_SEPSIS == 0].drop_duplicates(['SUBJECT_ID', 'HADM_ID'])[['SUBJECT_ID', 'HADM_ID']]
nonsepsis_cases = nonsepsis_cases.merge(df_diagnoses_icd[(df_diagnoses_icd.IS_SEPSIS != 1) & (df_diagnoses_icd.ICD9_CODE.isin(common_icd.ICD9_CODE))][['SUBJECT_ID', 'HADM_ID', 'ICD9_CODE']], on=['SUBJECT_ID', 'HADM_ID'])
nonsepsis_cases = nonsepsis_cases.merge(df_desc_icd[['ICD9_CODE', 'SHORT_TITLE']], on='ICD9_CODE')
# sepsis_cases = nonsepsis_cases.merge(df_demographic[['SUBJECT_ID', 'HADM_ID']], on=['SUBJECT_ID', 'HADM_ID'])
common_icd_nonsepsis = nonsepsis_cases.groupby(['ICD9_CODE', 'SHORT_TITLE']).apply(lambda x: len(x.drop_duplicates(['SUBJECT_ID', 'HADM_ID']))).sort_values(ascending=False).reset_index(name='NONSEPSIS_COUNT')
common_icd_nonsepsis['NON_SEPSIS_percentage'] = common_icd_nonsepsis['NONSEPSIS_COUNT']*100/df_demographic[df_demographic.IS_SEPSIS==0].shape[0] # 5176

common_icd = common_icd.merge(common_icd_nonsepsis[['ICD9_CODE', 'NONSEPSIS_COUNT', 'NON_SEPSIS_percentage']], on='ICD9_CODE')

# utils.save_csv(common_icd, ROOT_DIR / 'data/report_commorbs.csv')

In [30]:
common_icd.head(50)

,ICD9_CODE,SHORT_TITLE,SEPSIS_COUNT,SEPSIS_percentage,NONSEPSIS_COUNT,NON_SEPSIS_percentage
0,0389,Septicemia NOS,3102,59.930448,604,1.324852
1,78552,Septic shock,2442,47.179289,143,0.313665
2,5849,Acute kidney failure NOS,2106,40.687790,7006,15.367405
3,51881,Acute respiratry failure,1963,37.925039,5529,12.127660
4,4019,Hypertension NOS,1750,33.809892,18932,41.526651
5,4280,CHF NOS,1745,33.713292,11352,24.900197
6,42731,Atrial fibrillation,1605,31.008501,11281,24.744462
7,5990,Urin tract infection NOS,1329,25.676198,5218,11.445492
8,2762,Acidosis,1168,22.565688,3343,7.332748
9,25000,DMII wo cmp nt st uncntr,1069,20.653014,7988,17.521386
10,486,"Pneumonia, organism NOS",980,18.933539,3823,8.385611
11,2859,Anemia NOS,827,15.977589,4567,10.017548
12,5845,"Ac kidny fail, tubr necr",810,15.649150,1475,3.235359
13,2724,Hyperlipidemia NEC/NOS,790,15.262751,7899,17.326168
14,5070,Food/vomit pneumonitis,773,14.934312,2901,6.363238
15,2875,Thrombocytopenia NOS,735,14.200155,2328,5.106383
16,41401,Crnry athrscl natve vssl,733,14.161515,11695,25.652555
17,2449,Hypothyroidism NOS,655,12.654560,4258,9.339767
18,2761,Hyposmolality,586,11.321484,2437,5.345470
19,2760,Hyperosmolality,577,11.147604,1684,3.693792
20,53081,Esophageal reflux,574,11.089645,5678,12.454486
21,496,Chr airway obstruct NEC,541,10.452087,3890,8.532573
22,5859,Chronic kidney dis NOS,514,9.930448,2920,6.404913
23,5119,Pleural effusion NOS,499,9.640649,2225,4.880456
24,70703,"Pressure ulcer, low back",479,9.254250,810,1.776705
25,40391,Hyp kid NOS w cr kid V,477,9.215611,2153,4.722527
26,00845,Int inf clstrdium dfcile,472,9.119011,972,2.132047
27,V5861,Long-term use anticoagul,470,9.080371,3335,7.315201
28,40390,Hy kid NOS w cr kid I-IV,458,8.848532,2962,6.497039
29,2851,Ac posthemorrhag anemia,424,8.191654,4119,9.034876
30,311,Depressive disorder NEC,413,7.979134,3011,6.604519
31,03842,E coli septicemia,405,7.824575,58,0.127221
32,570,Acute necrosis of liver,402,7.766615,663,1.454266
33,2767,Hyperpotassemia,394,7.612056,1765,3.871463
34,V4581,Aortocoronary bypass,385,7.438176,2671,5.858741
35,5856,End stage renal disease,381,7.360896,1545,3.388901
36,03811,Meth susc Staph aur sept,380,7.341577,132,0.289537
37,V4986,Do not resusctate status,371,7.167697,956,2.096951
38,V5867,Long-term use of insulin,365,7.051777,2173,4.766396
39,41071,"Subendo infarct, initial",357,6.897218,2698,5.917964
40,2720,Pure hypercholesterolem,353,6.819938,5577,12.232946
41,99859,Other postop infection,333,6.433539,846,1.855670
42,2869,Coagulat defect NEC/NOS,331,6.394900,681,1.493749
43,99662,React-oth vasc dev/graft,311,6.008501,634,1.390656
44,E8798,Abn react-procedure NEC,310,5.989181,1186,2.601448
45,412,Old myocardial infarct,309,5.969861,2969,6.512393
46,0380,Streptococcal septicemia,308,5.950541,65,0.142575
47,03849,Gram-neg septicemia NEC,305,5.892581,89,0.195218
48,2930,Delirium d/t other cond,293,5.660742,1151,2.524676
49,3051,Tobacco use disorder,290,5.602782,3066,6.725159

## Selected Features

In [31]:
pontential_events = pd.read_csv(ROOT_DIR / 'data/labevents_comparison_sorted.csv')
pontential_events['SEPSIS_PROP'] = pontential_events['Sepsis_abnormal']  * 100/ df_demographic[df_demographic.IS_SEPSIS==1].shape[0]

nonsepsis_size = df_demographic[df_demographic.IS_SEPSIS==0].shape[0]
pontential_events['NonSepsis_abnormal'] = pontential_events['Abnormal_Count'] - pontential_events['Sepsis_abnormal']
pontential_events['NONSEPSIS_PROP'] = pontential_events['NonSepsis_abnormal'] * 100/ nonsepsis_size

pontential_events = pontential_events.drop(['Admission_proportion', 'Abnormal_Count', 'Sepsis_proportion', 'Sepsis_admission_proportion'], axis=1).sort_values('Sepsis_abnormal', ascending=False)

In [32]:
current_using_events = pd.read_csv(ROOT_DIR / 'data/potential_events.csv', nrows=40)
current_using_events = current_using_events[['ITEMID']].merge(pontential_events, on='ITEMID')
# utils.save_csv(current_using_events, ROOT_DIR / 'data/report_features.csv')

In [33]:
current_using_events

,ITEMID,LABEL,FLUID,ref1,ref2,chatgpt,neo4j,Sepsis_abnormal,SEPSIS_PROP,NonSepsis_abnormal,NONSEPSIS_PROP
0,51279,RED BLOOD CELLS,BLOOD,no,no,no,yes,5109,98.705564,43107,94.553630
1,51222,HEMOGLOBIN,BLOOD,yes,no,yes,yes,5114,98.802164,42535,93.298969
2,51221,HEMATOCRIT,BLOOD,yes,no,no,yes,5094,98.415765,42724,93.713534
3,50931,GLUCOSE,BLOOD,no,yes,no,yes,5108,98.686244,43091,94.518535
4,51244,LYMPHOCYTES,BLOOD,no,yes,no,yes,4811,92.948223,25470,55.867515
5,51256,NEUTROPHILS,BLOOD,no,yes,yes,yes,4827,93.257342,27690,60.737004
6,51006,UREA NITROGEN,BLOOD,no,no,yes,yes,4663,90.088872,31697,69.526212
7,51301,WHITE BLOOD CELLS,BLOOD,no,no,yes,yes,4824,93.199382,34151,74.908971
8,51274,PT,BLOOD,no,no,yes,yes,4703,90.861669,32398,71.063830
9,50912,CREATININE,BLOOD,yes,yes,yes,yes,4154,80.255023,21021,46.108796
10,51237,INR(PT),BLOOD,no,no,yes,yes,3847,74.323802,21188,46.475104
11,50893,"CALCIUM, TOTAL",BLOOD,yes,yes,no,yes,4868,94.049459,30868,67.707831
12,50882,BICARBONATE,BLOOD,yes,no,yes,yes,4486,86.669243,26631,58.414126
13,51277,RDW,BLOOD,no,no,no,yes,3656,70.633694,18343,40.234701
14,50813,LACTATE,BLOOD,no,yes,yes,yes,3584,69.242658,16331,35.821452
15,50902,CHLORIDE,BLOOD,yes,no,no,yes,4406,85.123648,29000,63.610441
16,50821,pO2,BLOOD,no,no,yes,yes,4080,78.825348,25090,55.033999
17,50970,PHOSPHATE,BLOOD,yes,no,no,yes,4831,93.334621,31515,69.127002
18,51265,PLATELET COUNT,BLOOD,yes,yes,yes,yes,3815,73.705564,24441,53.610441
19,50862,ALBUMIN,BLOOD,no,yes,yes,yes,4084,78.902628,17355,38.067559
20,50878,ASPARATE AMINOTRANSFERASE (AST),BLOOD,no,yes,yes,yes,2994,57.843895,13156,28.857206
21,51275,PTT,BLOOD,no,no,yes,yes,3815,73.705564,24556,53.862689
22,51248,MCH,BLOOD,no,no,no,yes,2660,51.391036,19427,42.612415
23,50820,PH,BLOOD,yes,no,no,yes,3761,72.662287,21671,47.534547
24,51003,TROPONIN T,BLOOD,no,no,yes,yes,2729,52.724111,11909,26.121957
25,50818,PCO2,BLOOD,yes,no,no,yes,3734,72.140649,21469,47.091467
26,50863,ALKALINE PHOSPHATASE,BLOOD,no,yes,no,yes,2817,54.424266,10331,22.660671
27,51493,RBC,URINE,no,no,no,yes,3187,61.572643,15057,33.026980
28,50971,POTASSIUM,BLOOD,yes,no,no,yes,3554,68.663060,20478,44.917745
29,50861,ALANINE AMINOTRANSFERASE (ALT),BLOOD,no,no,yes,yes,2379,45.962133,10314,22.623382
30,50983,SODIUM,BLOOD,no,no,yes,yes,3306,63.871716,17527,38.444834
31,50960,MAGNESIUM,BLOOD,yes,no,no,yes,3096,59.814529,16853,36.966440
32,51250,MCV,BLOOD,no,no,no,yes,2060,39.799073,11438,25.088835
33,50804,CALCULATED TOTAL CO2,BLOOD,no,no,yes,yes,3252,62.828439,14237,31.228340
34,50910,CREATINE KINASE (CK),BLOOD,no,no,no,yes,2542,49.111283,14398,31.581487
35,51249,MCHC,BLOOD,no,no,no,yes,3067,59.254250,25571,56.089055
36,50954,LACTATE DEHYDROGENASE (LD),BLOOD,no,yes,yes,yes,2675,51.680835,10903,23.915332
37,51144,BANDS,BLOOD,no,yes,no,yes,1966,37.982998,3343,7.332748
38,50809,GLUCOSE,BLOOD,no,yes,no,yes,2296,44.358578,22026,48.313227
39,50885,"BILIRUBIN, TOTAL",BLOOD,no,yes,yes,yes,1698,32.805255,5297,11.618776